<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu Loto - Mode automatique</title>

    <link rel="icon"       href="../../asset/elements/tourne.png">
    <link rel="stylesheet" href="../style/generalStyle.css">
    <link rel="stylesheet" href="../style/divStyle.css">

</head>
<body>
    <header>
        <a href="choixPartie.html"><img id="logoRetour" src="../../asset/elements/tourne.png"></a>
    </header>
    <main>
        <section>
            <div>

            </div>
            <div>

            </div>
        </section>
        <button class="but" type="submit">commencer</button>

    </main>
</body>
</html>