<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu Loto - Mode automatique</title>

    <link rel="icon"       href="../../asset/elements/tourne.png">
    <link rel="stylesheet" href="../style/generalStyle.css">
    <link rel="stylesheet" href="../style/divStyle.css">
    <link rel="stylesheet" href="../style/alertStyle.css">

</head>
<body>
    <header>
        <a href="choixPartie.html"><img id="logoRetour" src="../../asset/elements/tourne.png"></a>
        <h2 id="titre"></h2>
    </header>
    <main>
        <section>
            <div id="div-left">

            </div>
            <div id="div-right">

            </div>
        </section>

    </main>
    <script type="module" src="../script/controller/controllerAuto.js"></script>
</body>
</html>