<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu Loto - Choix Partie</title>

    <link rel="icon"       href="../../asset/elements/tourne.png">
    <link rel="stylesheet" href="../style/generalStyle.css">
    <link rel="stylesheet" href="../style/divStyle.css">
    <link rel="stylesheet" href="../style/choiceStyle.css">

</head>
<body>
    <header>
        <a href="modeJeu.html"><img id="logoRetour" src="../../asset/elements/tourne.png"></a>
    </header>
    <main>
        <section>
            <div>
                <p>
                    Ici, nous allons définir vos partie de jeu.
                    Pour cela, vous devrez tout d'abord sélectionner le nombre de partie que vous voudrez faire.
                    Ensuite, sur la droite, il faudra que vous définissiez chaque partie une par une sachant que :
                    <li>Une quine : une ligne sur le carton</li>
                    <li>Double quine : deux ligne sur le même carton</li>
                    <li>une partie est composé de 3 sous-parties</li>
                    <li>démarquer signifie de retirer tout les jetons du cartons.</li>
                </p>

                <p>Maintenant à vous de jouer !</p>

                <p>Conmbien de partie voulez-vous faire ?</p>

                <input type="number" id="nbPartie" name="nbPartie">
                <button id="check" type="submit">✓</button>
            </div>
            <div id="div-right">

            </div>
        </section>
        <button class="but" type="submit" id="commencer">commencer</button>

    </main>
    <script src="../script/controller/controllerDefPartie.js"></script>
</body>
</html>