<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu Loto - Choix Partie</title>

    <link rel="icon"       href="../../asset/elements/tourne.png">
    <link rel="stylesheet" href="../style/generalStyle.css">
    <link rel="stylesheet" href="../style/divStyle.css">
    <link rel="stylesheet" href="../style/choiceStyle.css">

</head>
<body>
    <header>
        <a href="modeJeu.html"><img id="logoRetour" src="../../asset/elements/tourne.png"></a>
    </header>
    <main>
        <section>
            <div>
                <p>
                    Ici, définissez vos parties de jeu. D'abord, sélectionnez le nombre de parties. Ensuite, définissez
                    chaque partie individuellement :
                    <li>Une quine : une ligne sur le carton</li>
                    <li>Double quine : deux ligne sur le même carton</li>
                    <li>Une partie comporte 3 sous-parties</li>
                    <li>Démarquer : retirer tous les jetons du carton</li>
                </p>

                <p>À vous de jouer !</p>

                <p>Conmbien de parties voulez-vous faire ?</p>

                <input type="number" id="nbPartie" name="nbPartie">
                <button id="check" type="submit">✓</button>
            </div>
            <div id="div-right">

            </div>
        </section>
        <button class="but" type="submit" id="commencer">commencer</button>

    </main>
    <script src="../script/controller/controllerDefPartie.js"></script>
</body>
</html>