<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu Loto - Mode de jeu</title>


    <link rel="icon"       href="../../asset/elements/tourne.png">
    <link rel="stylesheet" href="../style/generalStyle.css">
</head>
<body>
    <header>
        <a href="../../index.html"><img id="logoRetour" src="../../asset/elements/tourne.png"></a>
    </header>
    <main class="mainPrinc">
        <h1>Mode de jeu</h1>
        <a href="choixPartie.html"><button type="submit">Automatique</button></a>
        <a href="choixPartie.html"><button type="submit">Manuel</button></a>
    </main>
</body>
</html>